@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
  font-family: Montserrat, Noto Sans TC;
}
h1{
  font-size: 68px;
  font-weight: bold;
}
h2 {
  font-size: 42px;
  font-weight: bold;
}
h3 {
  font-size: 28px;
  font-weight:500;
}
h4 {
  font-size: 24px;
  font-weight: 500;
}
h5 {
  font-size: 18px;
  font-weight: 500;
}

/* .text-secondary 留言 愛心部分 可以用 */

.font-color-darkest{
  color: #171725;
}
.font-color-dark {
  color: #657786;
}
.font-color-light {
  color: #92929D;
}
.font-color-lightest {
  color: #E6ECF0;
}
.font-size-14{
  font-size: 14px;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-24 {
  font-size: 24px;
}

